@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f8f8f9;
  --foreground: #242424;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121a29;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
